.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero__subtitle {
  color: var(--clr-slate800);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  color: var(--clr-slate600);
  max-width: 60ch;
  font-size: var(--size-s);
}

.hero__btn1 {
  text-transform: capitalize;
  font-size: var(--size-s);
}

.hero__btn2 {
  font-size: var(--size-s);
  background-color: var(--clr-indigo) !important;
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3),
    0 6px 6px rgba(79, 70, 229, 0.3), 0 0 100px -10px var(--clr-indigo) !important;
}

.hero__btn2:hover {
  box-shadow: 0 14px 28px rgba(79, 70, 229, 0.25),
    0 10px 10px rgba(79, 70, 229, 0.25), 0 0 120px -10px var(--clr-indigo) !important;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.hero__scroll-up {
  position: fixed;
  background-color: var(--clr-slate800);
  border-radius: 4px;
  width: 1rem;
  height: 1rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.hero__scroll-up:hover {
  background-color: var(--clr-slate600);
}

.hero__scroll-up-chevron {
  color: #f1f5f9;
  display: block;
  position: absolute;
  width: var(--size-l);
  height: var(--size-l);
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-l);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn1 {
    font-size: var(--size-base);
  }

  .hero__btn2 {
    font-size: var(--size-base);
  }

  .hero__scroll-up {
    width: 1rem;
    height: 1rem;
    bottom: 3rem;
    right: 3rem;
    padding: 1.5rem;
  }

  .hero__scroll-up-chevron {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
}

/* s */
/* @media (min-width: 640px) {
} */

/* m */
/* @media (min-width: 768px) {
} */

/* l */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-l);
  }

  .hero__btn1 {
    font-size: var(--size-l);
  }

  .hero__btn2 {
    font-size: var(--size-l);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn1 {
    font-size: var(--size-l);
  }

  .hero__btn1 {
    font-size: var(--size-l);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
